# THis

In [1]:
# import important libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder

In [2]:
# load the dummy_dataset 
fleet_rates = pd.read_csv('./data/input/dummy_input.csv', sep=';')
fleet_rates.head()

,Country Relation,Country Relation Vice Versa,Origin Country,Destination Country,GDP WB origin,GDP WB Destination,Lat Origin,Lon Origin,Lat Destination,Lon Destination,...,Rate 12999 - 13999 kg,Rate 13999 - 14999 kg,Rate 14999 - 15999 kg,Rate 15999 - 16999 kg,Rate 16999 - 17999 kg,Rate 17999 - 18999 kg,Rate 18999 - 19999 kg,Rate 20000-21499 kg,Rate 21500-22999 kg,Rate 23000-24499 kg
0,SE_CZ,CZ_SE,SE,CZ,537610.0,243530.0,58.51761,13.45279,48.84433,17.09269,...,520.910569,530.280069,540.947644,549.756274,558.933476,569.504737,579.554735,590.574761,594.701375,605.398711
1,SK_RO,RO_SK,SK,RO,104574.0,248716.0,48.82263,17.15524,46.34595,21.28440,...,359.382475,370.085963,382.267561,389.734663,399.584689,410.469392,422.074447,429.496006,429.762900,440.098367
2,RO_SK,SK_RO,RO,SK,248716.0,104574.0,46.34595,21.28440,48.82263,17.15524,...,484.880259,489.878669,495.629129,500.638597,505.002186,510.087815,514.566674,520.633220,519.983541,518.594831
3,CZ_CZ,CZ_CZ,CZ,CZ,243530.0,243530.0,49.56757,13.32155,48.84433,17.09269,...,455.592568,529.531939,549.176915,563.945789,581.743642,598.717496,634.246293,674.204446,678.656907,690.868583
4,CZ_DE,DE_CZ,CZ,DE,243530.0,3806060.0,49.56757,13.32155,52.57444,13.35121,...,647.958540,648.080548,648.908398,650.247414,648.361983,646.023037,647.597560,648.402944,651.182095,647.265194

In [3]:
# look at some minor statistics about dataset
fleet_rates.describe()

,GDP WB origin,GDP WB Destination,Lat Origin,Lon Origin,Lat Destination,Lon Destination,Distance,Rate 0 - 49 kg,Rate 50 - 99 kg,Rate 99 - 149 kg,...,Rate 12999 - 13999 kg,Rate 13999 - 14999 kg,Rate 14999 - 15999 kg,Rate 15999 - 16999 kg,Rate 16999 - 17999 kg,Rate 17999 - 18999 kg,Rate 18999 - 19999 kg,Rate 20000-21499 kg,Rate 21500-22999 kg,Rate 23000-24499 kg
count,5.960000e+02,5.960000e+02,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000,...,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000
mean,2.566007e+06,2.053983e+06,49.947488,11.353508,50.306511,11.933888,691.999180,102.377181,108.481494,114.974289,...,653.794000,682.887667,711.291813,733.961526,758.746785,779.218141,796.032599,809.894606,819.375680,827.287942
std,1.620465e+06,1.721242e+06,2.225936,3.940805,2.832077,4.565833,475.856043,78.960417,80.516925,81.627945,...,470.777121,503.094190,538.756116,554.074629,587.958811,605.563133,615.259595,623.431359,627.964867,630.753625
min,3.103000e+04,1.045740e+05,39.624720,-8.508160,39.624720,-8.910010,1.677719,17.485298,30.983147,33.460958,...,160.157413,165.315755,170.319777,174.218842,180.212674,190.803875,198.989022,203.341645,203.335446,205.388386
25%,5.376100e+05,2.435300e+05,48.778310,9.423056,48.778310,9.916990,394.251654,70.561563,75.055332,79.817685,...,414.931035,430.498797,450.174011,463.109420,482.669442,499.142664,509.885294,519.345165,519.767956,519.841259
50%,3.806060e+06,2.707744e+06,49.792110,11.353508,49.567570,12.871230,597.997074,85.500706,86.068187,91.212504,...,499.377592,525.865621,539.754978,550.080598,561.268025,580.949232,591.893423,603.078279,618.386480,621.514120
75%,3.806060e+06,3.806060e+06,50.959620,12.871230,51.054922,13.497990,843.865393,105.454811,115.087180,123.850139,...,700.100521,739.966068,760.372299,792.164108,814.542492,828.891759,833.884964,839.964466,844.778726,845.283481
max,3.806060e+06,3.806060e+06,59.262600,25.501080,58.487117,21.284400,3528.309650,1041.013747,1039.356377,1040.793429,...,3998.364827,4483.040831,4970.120434,4970.464855,5334.089421,5335.870948,5333.004441,5335.155080,5332.898829,5335.001320

In [4]:
# one hot encoding for categorical data 
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(fleet_rates[['Country Relation', 'Country Relation Vice Versa', 'Origin Country', 'Destination Country']])

OneHotEncoder(handle_unknown='ignore')

In [5]:
# create onehot data for training 
one_hot = enc.transform(fleet_rates[['Country Relation', 'Country Relation Vice Versa', 'Origin Country', 'Destination Country']])
# enc.categories_
one_hot_arr = one_hot.toarray()
# one_hot_arr[:2]
# fleetrates without categorical values 
fleet_rates_one_hot = fleet_rates.drop(['Country Relation', 'Country Relation Vice Versa', 'Origin Country', 'Destination Country'], axis=1)
names_list = []
[names_list.extend(list(entry)) for entry in enc.categories_]
one_hot_df = pd.DataFrame(one_hot_arr, columns= names_list)
ready_for_training_df = pd.concat([one_hot_df,fleet_rates_one_hot], axis = 1)
ready_for_training_df.head()

,AT_SK,BE_CZ,BE_DE,BE_ES,BE_GB,CZ_CZ,CZ_DE,CZ_ES,CZ_GB,CZ_HU,...,Rate 12999 - 13999 kg,Rate 13999 - 14999 kg,Rate 14999 - 15999 kg,Rate 15999 - 16999 kg,Rate 16999 - 17999 kg,Rate 17999 - 18999 kg,Rate 18999 - 19999 kg,Rate 20000-21499 kg,Rate 21500-22999 kg,Rate 23000-24499 kg
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,520.910569,530.280069,540.947644,549.756274,558.933476,569.504737,579.554735,590.574761,594.701375,605.398711
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,359.382475,370.085963,382.267561,389.734663,399.584689,410.469392,422.074447,429.496006,429.762900,440.098367
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,484.880259,489.878669,495.629129,500.638597,505.002186,510.087815,514.566674,520.633220,519.983541,518.594831
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,455.592568,529.531939,549.176915,563.945789,581.743642,598.717496,634.246293,674.204446,678.656907,690.868583
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,647.958540,648.080548,648.908398,650.247414,648.361983,646.023037,647.597560,648.402944,651.182095,647.265194

In [6]:
# create onehot data for prediction
predict_df = pd.read_csv('./data/input/predict.csv', sep=';')
predict_df.drop(columns=['Key'], axis = 1, inplace=True)
one_hot_predict = enc.transform(predict_df[['Country Relation', 'Country Relation Vice Versa', 'Origin Country', 'Destination Country']])
one_hot_predict_arr = one_hot_predict.toarray()
one_hot_predict_df = pd.DataFrame(one_hot_predict_arr, columns= names_list)
predict_df_one_hot = predict_df.drop(['Country Relation', 'Country Relation Vice Versa', 'Origin Country', 'Destination Country'], axis=1)
ready_for_predict_df = pd.concat([one_hot_predict_df,predict_df_one_hot], axis = 1)
ready_for_predict_df.head()

,AT_SK,BE_CZ,BE_DE,BE_ES,BE_GB,CZ_CZ,CZ_DE,CZ_ES,CZ_GB,CZ_HU,...,RO,SE,SK,GDP WB origin,GDP WB Destination,Lat Origin,Lon Origin,Lat Destination,Lon Destination,Distance
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,481796,481796,47516231,14550072,47516231,14550072,40
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,481796,481796,47516231,14550072,47516231,14550072,75
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,481796,481796,47516231,14550072,47516231,14550072,100
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,481796,481796,47516231,14550072,47516231,14550072,150
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,481796,481796,47516231,14550072,47516231,14550072,200

In [7]:
# Input for training and test needs to be similar 
 
# training with everything until distance
X = ready_for_training_df[ready_for_training_df.columns[:ready_for_training_df.columns.get_loc('Distance') + 1]]

# training for Rate 0 - 49 kg prediction
y = ready_for_training_df[ready_for_training_df.columns[ready_for_training_df.columns.get_loc('Distance') + 1]]

# predict with everything until distance 
X_predict = ready_for_predict_df[ready_for_predict_df.columns[:ready_for_predict_df.columns.get_loc('Distance') + 1]]

In [8]:
# train test split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=11, shuffle=False)
# for depth in range(1,40):
#     regr = RandomForestRegressor(max_depth=depth, random_state=12)
#     regr.fit(X_train,y_train)
#     print(depth, regr.score(X_test, y_test))
regr = RandomForestRegressor(max_depth=27, random_state=12)
regr.fit(X_train,y_train)
regr.score(X_test, y_test)

0.3793727307529938

In [17]:
# even though score is considered weak for showcase purposes we continue with this example
predict_df['predicted Rate 0 - 49 kg'] = regr.predict(X_predict)
predict_df.head()

,Country Relation,Country Relation Vice Versa,Origin Country,Destination Country,GDP WB origin,GDP WB Destination,Lat Origin,Lon Origin,Lat Destination,Lon Destination,Distance,predicted Rate 0 - 49 kg
0,AT_AT,AT_AT,AT,AT,481796,481796,47516231,14550072,47516231,14550072,40,115.602248
1,AT_AT,AT_AT,AT,AT,481796,481796,47516231,14550072,47516231,14550072,75,115.813466
2,AT_AT,AT_AT,AT,AT,481796,481796,47516231,14550072,47516231,14550072,100,115.515468
3,AT_AT,AT_AT,AT,AT,481796,481796,47516231,14550072,47516231,14550072,150,117.134399
4,AT_AT,AT_AT,AT,AT,481796,481796,47516231,14550072,47516231,14550072,200,117.378784